.jumbotron {
    background-color: #ADE6CE;
    border: 2px solid black;
}

.textAlignMiddle {
    text-align: center;
}

#addTrainHeading {
    background-color: rgb(232, 240, 128);
    text-align: center;
}

